#Home.Home{
    display: grid;
    grid-template-columns: 68% 30%;
    width: 85%;
    margin: auto;
    gap: 20px;
}

@media only screen and (max-width: 480px) {
    #Home.Home{
        grid-template-columns: 100%;
        width: 100%;
    }
  }
  @media only screen and (max-width: 901px) {
    #Home.Home{
        grid-template-columns: 100%;
        width: 100%;
    }
  }