#mine.mine {
  .card-main {
    border-radius: 16px;
    background:#eff3f4;
    margin-top: 20px;
    padding: 10px;
    h2 {
      padding: 10px;
    }
    .main-data {
      display: grid;
      grid-template-columns: 20% 50% 30%;
      justify-content: space-between;
      padding: 10px;
      align-items: center;
      cursor: pointer;
      margin-top: 10px;
.btn{
  display: flex;
}
      button {
        border-radius: 9999px;
        padding: 10px 20px;
        cursor: pointer;
        background: #000;
        color: white;
        font-weight: bold;
      text-align: end;
      margin-left: auto;
      }
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }
      .content {
        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: max-content;
          color: gray;
        }
      }
    }
    .showmore{
      border: none;
      padding: 5px;
      color: rgb(29, 155, 240);
      font-weight: bold;
      cursor: pointer;
      background: none;
      margin: 20px;
    }
  }
}

@media only screen and (max-width: 480px) {
  #mine.mine {
    // display: none;
  }
}
@media only screen and (max-width: 901px) {
  #mine.mine {
    // display: none;
  }
}
